.titre {
    font-size: 2em;
    text-align: center;
}
.welcome,.startQuiz{
    text-align: center;

}


.startQuiz a:visited, a:link{
text-decoration: none;
}
body {
    margin: 0;
    background-color: #fefbda;
    color:#1a0e02;
}

main {
    margin-top: 120px;
    margin-bottom: 900px;
}

.copyright {
    margin: 2px;
    color:white;
    font-size: large;
    font-weight: 100;
    background-color:#6b3e0f ;
}


/* Centrage du texte sur la page*/
.answerPageW {
    text-align: center;
    color: red;
    font-size:medium;
}

.answerPageR {
    text-align: center;
    color: green;
    font-size:medium;
}

/*image et score de la page end mobilefirst*/
.bear {
    display: flex;
    margin: auto;
    width:20%;
}

.blocScore{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:medium ;
 
}

.finalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.scoreTitle,
.endOfQuizz {
    font-size: 100%;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

.userScoreR,
.userScoreW,
.score {
    font-size: 120%;
    color: blue
}

.beerCounter {
    padding-bottom: 20px;
    margin: auto;
    width:20%;
}
.answerPageCont{
margin-bottom: 100px;
margin-top:-6rem;
height: 0;
}

#wrongAnswer {
    display: none;
    height: 0;
 
}

#rightAnswer {
    display: none;
    height: 0;
  
}

.cuteBear,
.meanBear,
.cheersPic{
    display: none;
    height: 0
}

/*Toute cette partie est ok pour moi (tv)*/
/*Bouton  page answer OK*/

.buttonNext {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 20px;
    margin:auto;
}
.buttonNextW, .buttonNextR{
padding:10px;
}

.next {
    background-color: #FFBD3A;
    border-radius: 14px;
    font-size: large;
    font-family: 'Lucida Sans';
    width: 200px;
    height: 37px;
    padding: 0;
    margin-bottom: 8rem;
}


.next:hover {
    background-color: #cf9011;
}


.next:active {
    background-color: #eabc60;
}

.cheersPic {
    display: flex;
    margin: auto;
}

.endQuizz {
    display:none ;
    height: 0;
}


header {
    position: fixed;
    top: 0;
    background-color:  #6b3e0f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
    color:white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,0.5fr);
    grid-auto-flow: row;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-areas:
        "question question question"
        "reponse-1 reponse-1 reponse-1"
        "reponse-2 reponse-2 reponse-2"
        "reponse-3 reponse-3 reponse-3"
        "reponse-4 reponse-4 reponse-4";
margin-top: 2rem;
margin-bottom: 4rem;

}
.quest{
    font-size: large;
}

.question {
    grid-area: question;
    background-color: #FFBD3A;
   
}

.reponse-1 {
    grid-area: reponse-1;
    background-color: #f7ff08;
    max-width: 80%;
    margin-left: 10%;
    justify-content: center;
}

.reponse-1:hover {
    background-color: #bdc30e;
}

.reponse-1:active {
    background-color: #f5f984;
}

.reponse-2 {
    grid-area: reponse-2;
    background-color: #f80961;
    max-width: 80%;
    margin-left: 10%;
    justify-content: center;
}

.reponse-2:hover {
    background-color: #970a3e;
}

.reponse-2:active {
    background-color: #ef548d;
}

.reponse-3 {
    grid-area: reponse-3;
    background-color: #a524d4;
    max-width: 80%;
    margin-left: 10%;
    justify-content: center;
}

.reponse-3:hover {
    background-color: #671186;
}

.reponse-3:active {
    background-color: #b15dd0;
}

.reponse-4 {
    grid-area: reponse-4;
    background-color: #21b5da;
    max-width: 80%;
    margin-left: 10%;
    justify-content: center;
}

.reponse-4:hover {
    background-color: #1487a4;
}

.reponse-4:active {
    background-color: #5dc1da;
}

/* TODO : Reprende les responses --> Mettre des dimensions au box + mettre un active pour manifester le choix de la réponse à l'utilisateur */
.question,
.reponse-1,
.reponse-2,
.reponse-3,
.reponse-4 {
    display: flex;
    min-width: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px rgb(101, 93, 93) solid;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.answerPageCont{
    /* margin-bottom:800px; */
    margin: bottom 24rem;
}
/*modif du todo --> la taille est fixe le problème vient du flex ou de la grid
CODE HERE
fin des modifs*/
/* FIN du css grid mobile first */

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0px;
    bottom: 0;
    background-color: #6b3e0f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.7em;

}

footer,
header {
    text-align: center;
    width: 100%;
    font-family: 'Permanent Marker', arial, "sans serif";
    font-weight: lighter;
}

.logo {
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
}

/*MAJ 270323.15:38 - à vérifier sur le index si ok / NOK - TODO : Utiliser une classe !! rattaché à l'inde.html */
.quiz {
    text-align: center;
    font-family: 'Permanent Marker', arial, "sans serif";
    font-size: 2.7em;
    color: #550000;
    margin-top: 90px;
    margin-bottom: 20px;

}

/* Rattaché à Hello.js (easter egg caché by Fabien XD */
.hello {
    font-size: 2em;
    text-align: center;
    color: #550000;
}

/*Bouton non fonctionnel sur la page index.html*/

button {
    /* TODO - Ajouter une classe !!! */
    width: 250px;
    padding: 45px;
    margin: auto;
    margin-bottom: 80px;
    border-radius: 20px;
    box-shadow: 6px 6px 0px;
    border-style: solid;
    font-size: 25px;
    display: block;
    background-color: #FFBD3A;
    cursor: pointer;
}

button:hover {
    background-color: #d29929
}

button:active {
    background-color: #f4c76d
}




.score {
    text-align: center;
}

/* au passage en vue Desktop l'affichage grid change*/
@media screen and (min-width: 600px) {
 .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 60px 20px;
        grid-template-areas:
            "question question question question"
            "reponse-1 reponse-1 reponse-2 reponse-2"
            "reponse-3 reponse-3 reponse-4 reponse-4";
            margin-top:120px;
    }

.bear {
        width: 20%;
    }

.buttonNext {
        display: flex;
        margin-left: 400px;
        width: 400px;
        height: 30px;
        margin-bottom: 800px;
 }
.next {
        background-color: #FFBD3A;
        border-radius: 14px;
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 200px;
        height: 50px;
}

footer {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
 }

.logo {
        max-width: 600px;
    }

#rightAnswer,#wrongAnswer{
  
    height:0;
    display:none;
}
#rightAnswer{
      /* margin-bottom:740px ;  */
       margin-bottom:20rem ;
}
#wrongAnswer{
    /* margin-bottom: 540px; */
    margin-bottom:20rem ;
}

.endQuizz{
    display:none;
    height:0;
    margin-top:49rem;
}
.answerPageR,.answerPageW{
width: 400px;
}
.bear{
  margin-left:100px;

}
.blocScore{
    margin-top: -22rem;
}

.buttonNextW, .buttonNextR{
    margin-top: -250px;
    margin-right:-800px;
}
.basket{
margin-left: 40%;
}

.finalScore{
margin-top:-800px;
    margin-bottom: 200px;
}
.restart{
    height:min-content;
    margin: 0;
    padding:10px;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.startQuiz{
    height:min-content;
    margin: auto;
padding:10px;


}

}